<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  rel="stylesheet"          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"   crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">User Registration and Login System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-10">
        <h2>List of Registered Users</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "users : ${users}">
            <td th:text = "${users.firstName}"></td>
            <td th:text = "${users.lastName}"></td>
            <td th:text = "${users.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<!--
    <!- Button to add more time blocks ->
    <button type="button" onclick="addTimeBlock()">Add Time Block</button>



<!- JavaScript function to add more time blocks dynamically ->
<script th:inline="javascript">
    function addTimeBlock() {
        let timeBlockIndex = /*[[${#fields.fields('timeBlocks').size()}]]*/ 0;
        let timeBlockDiv = document.createElement('div');

        let startTimeLabel = document.createElement('label');
        startTimeLabel.textContent = 'Start Time:';
        let startTimeInput = document.createElement('input');
        startTimeInput.type = 'time';
        startTimeInput.name = 'timeBlocks[' + timeBlockIndex + '].startTime';

        let endTimeLabel = document.createElement('label');
        endTimeLabel.textContent = 'End Time:';
        let endTimeInput = document.createElement('input');
        endTimeInput.type = 'time';
        endTimeInput.name = 'timeBlocks[' + timeBlockIndex + '].endTime';

        timeBlockDiv.appendChild(startTimeLabel);
        timeBlockDiv.appendChild(startTimeInput);
        timeBlockDiv.appendChild(document.createElement('br'));
        timeBlockDiv.appendChild(endTimeLabel);
        timeBlockDiv.appendChild(endTimeInput);
        timeBlockDiv.appendChild(document.createElement('br'));

        document.querySelector('form').appendChild(timeBlockDiv);
    }
</script>
-->